<div class="container">
	<div class="row">
		<div class="col-sm-6">
			 <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="username">User name</label>
					<input class="form-control" id="username" type="text" formControlName="username" required>
					<div *ngIf="signupFormErrors.username" class="alert alert-danger">
						{{ signupFormErrors.username }}
					</div> 
				</div>
				<div class="form-group">
					<label for="firstname">First name</label>
					<input class="form-control" id="firstname" type="text" formControlName="firstname" required>
					<div *ngIf="signupFormErrors.firstname" class="alert alert-danger">
						{{ signupFormErrors.firstname }}
					</div>
				</div>
				<div class="form-group">
					<label for="lastname">Last name</label>
					<input class="form-control" id="lastname" type="text" formControlName="lastname" required>
					<div *ngIf="signupFormErrors.lastname" class="alert alert-danger">
						{{ signupFormErrors.lastname }}
					</div> 
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input class="form-control" id="password" type="password" formControlName="password" required>
					<div *ngIf="signupFormErrors.password" class="alert alert-danger">
						{{ signupFormErrors.password }}
					</div>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input class="form-control" id="email" type="text" formControlName="email" required>
					<div *ngIf="signupFormErrors.email" class="alert alert-danger">
						{{ signupFormErrors.email }}
					</div>
				</div>
				<div class="form-group">
					<label for="phone">Phone</label>
					<input class="form-control" id="phone" type="text" formControlName="phone" required>
					<div *ngIf="signupFormErrors.phone" class="alert alert-danger">
						{{ signupFormErrors.phone }}
					</div>
				</div>
				<div class="form-group">
					<label for="notification">Send task notification</label> &nbsp; : 
					Email <input  id="notification" type="radio" value="email" formControlName="notification" (click)="setNotificationType('email')">  | 
					Text <input  id="notification" type="radio" value="text" formControlName="notification" (click)="setNotificationType('text')"> 
					<div *ngIf="signupFormErrors.notification" class="alert alert-danger">
						{{ signupFormErrors.notification }}
					</div>
				</div>
				<!-- <div class="form-group">
					<label for="address">Address #1</label>
					<input class="form-control" id="city" type="text"  formControlName="city" required>					
					<input class="form-control" id="country" type="text" formControlName="country" required>
					<div *ngIf="signupFormErrors.address" class="alert alert-danger">
						{{ signupFormErrors.address }}
					</div>
				</div> -->
				<button type="submit" class="btn btn-success" [disabled]="!signupForm.valid">SignUp</button>
				<button type="button" class="btn btn-default" [disabled]="!signupForm.dirty" (click)="taskForm.reset()">Reset</button>
			</form> 
		</div>
	</div>
</div>
<a routerLink="/signin" routerLinkActive="active">Signin</a>