<div class="container">
  <div class="row">
    <b>Add your task </b>
  </div>
  <div class="row">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="trainee">Select Trainee </label>
        <select class="form-control" id="trainee" formControlName="trainee">
              <option *ngFor="let trainee of trainees" value= {{trainee._id}}>{{trainee.username}}</option>              
          </select>
        <div *ngIf="taskFormErrors.trainee" class="alert alert-danger">
          {{ taskFormErrors.trainee }}
        </div>
      </div>
      <div class="form-group">
        <label for="taskname">Task name</label>
        <input class="form-control" id="taskname" type="text" formControlName="taskname" required>
        <div *ngIf="taskFormErrors.taskname" class="alert alert-danger">
          {{ taskFormErrors.taskname }}
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control input-lg" id="description" type="text" formControlName="description" required>
        <span *ngIf="taskFormErrors.description" class="help-block">
            {{ taskFormErrors.description }}
        </span>
      </div>

      <div class="form-group">
        <label for="tasktype">Task type</label>
        <select class="form-control" id="tasktype" formControlName="tasktype">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option> 
      </select>
        <span *ngIf="taskFormErrors.tasktype" class="help-block">
            {{ taskFormErrors.tasktype }}
        </span>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!taskForm.valid">Add Task</button>
        <button type="button" class="btn btn-default" [disabled]="!taskForm.valid" (click)="taskForm.reset()">Reset</button>
        <img *ngIf="isLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
      <!-- Is this critical  ? <critical [isCritical]="hero.isCritical" (change)="onChangeCritical($event)"> </critical> <br>  -->

    </form>
  </div>


  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th>Task name</th>
        <th>Task description</th>
        <th>Task type</th>
        <th colspan="2">Action</th>
      </tr>
      <tr *ngFor="let task of tasks">
        <td>{{task.taskname}}</td>
        <td>{{task.description}}</td>
        <td>{{task.tasktype}}</td>
        <td><a (click)="onDeleteTask(task._id)">Delete</a></td>
        <td><a (click)="onEditTask(task._id)">Edit</a></td>
      </tr>
    </table>
  </div>


</div>